/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --accent-color: #FF0070;
  --decor-element-color: #FF0070;
  --h1-color: #DB00FF;
  --text-color: #F1B2CE;
  --text_accent-color: #000028;
  --font-size_main: 18px;
  --font-family_main: 'IBM Plex Mono', sans-serif;
  --background-image: url(../images/cover-image-dark.png);
  

  .header__theme-menu-list {
    color: var(--accent-color);
  }

  .main_title-section {
    color: var(--accent-color);
  }

  .header__decoration-element {
    opacity: 1;
  }
}