/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --decor-element-color: #353430;
    --h1-color: #FFC2E6;
    --text-color: #353430;
    --text_accent-color: #353430;
    --background-image: url(../images/cover-image-light.png);
  }
  .header__theme-menu-list {
    color: var(--text-color);
  }
    .main_title-section {
      color: var(--text-color);
  }
  .header__decoration-element {
    opacity: 0;
  }
}

.page.theme_light {
  --accent-color: #FF8DCB;
  --decor-element-color: #353430;
  --h1-color: #FFC2E6;
  --text-color: #353430;
  --text_accent-color: #353430;
  --background-image: url(../images/cover-image-light.png);

  .header__theme-menu-list {
    color: var(--text-color);
  }

  .main_title-section {
    color: var(--text-color);
  }

  .header__decoration-element {
    opacity: 0;
  }
}
