/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--decor-element-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--border-hover);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--decor-element-color);
}

.link:hover {
  border-block-end: 1px solid var(--text-color);
  cursor: pointer;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid var(--text-color);
}

.page {
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 0 1fr min-content 1fr;
  align-items: center;
  font-family: 'IBM Plex Mono', sans-serif;
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone {
  position: relative;
  padding: 10px;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  inline-size: 25.038px;
  block-size: 24.999px;
  border-block-start: 1px solid var(--decor-element-color);
  border-inline-end: 1px solid var(--decor-element-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 10px;
  inline-size: 25.038px;
  block-size: 24.999px;
  border-block-end: 1px solid var(--decor-element-color);
  border-inline-start: 1px solid var(--decor-element-color);
}

.header__decoration-element::after {
  content: '';
  position: absolute;
  top: 18px;
  right: 20px;
  inline-size: 8px;
  block-size: 8px;
  border-radius: 50%;
  background-color: var(--decor-element-color);
  box-shadow: 0px 0px 4px 2px #FF0070;
}

.header__decoration-element p {
  position: absolute;
  top: 12px;
  right: 40px;
  font-size: var(--font-size_main);
  line-height: 138.889%;
  font-weight: 400;
  color: var(--decor-element-color);
  text-transform: uppercase;
}

.header__theme-menu {
  display: flex;
  justify-content: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  color: var(--accent-color);
  font-size: var(--font-size_main);
}

.header__theme-menu-button {
  inline-size: 100%;
  block-size: 100%;
  background: none;
  border: none;
  font-weight: 400;
  padding: 1px 13px;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--h1-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

.title-decor {
  color: var(--text_accent-color);
  background-color: var(--accent-color)
}

.header__title-paragraph {
  max-inline-size: 355px;
  font-size: var(--font-size_main);
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  justify-self: self-end;
}

/* конец header */

.main {
  font-family: 'IBM Plex Mono', sans-serif;
  margin-block-start: 40px;
  display: grid;
  gap: 50px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

.main_title-section {
  color: var(--accent-color);
  font-size: var(--font-size_main);
  font-weight: 700;
  font-style: normal;
  line-height: 130%;
  inline-size: 100%;
  max-inline-size: 355px;
  margin-block-end: 20px;
}

.main__title-concentration {
  font-size: var(--font-size_main);
  margin-block-end: 20px;
}

.main__content-section {
  display: grid;
  gap: 20px;
}

.main__content_text-title {
  font-size: var(--font-size_main);
  margin-block-end: 10px;
}

.main__content_text {
  font-size: var(--font-size_main);
  color: var(--text-color);
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.link {
  text-decoration-line: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.main__content_text-title-litle {
  margin-block-end: 10px;
  font-size: var(--font-size_main);
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.margin {
  margin: 0;
}

.main__gallery {
  display: grid;
  gap: 10px;
}

.main__gallery-grid {
  display: grid;
  gap: 10px;
}

.main__gallery-images {
  object-fit: cover;
  inline-size: 100%;
}

/* конец main */

.footer {
  margin-block-start: 40px;
  block-size: 100vh;
  min-block-size: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-family: 'IBM Plex Mono', sans-serif;
  color: var(--h1-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  text-align: center;
  position: relative;
}

@media (width >= 768px) {

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title-paragraph {
    min-inline-size: 364px;
    justify-self: end;
  }

  .decorated-zone {
    padding: 20px 20px 20px 0;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__decoration-element::after {
    top: 28px;
    right: 30px;
  }
  
  .header__decoration-element p {
    top: 22px;
    right: 50px;
  }
  
  .main {
    margin-block-start: 60px;
    gap: 80px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
  }

  .main_title-section {
    max-inline-size: 236px;
  }

  .section__focus {
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 20px;
  }

  .section__concentration {
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 20px;
  }

  .main__gallery {
    gap: 20px;
  }

  .main__gallery-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street"
    ;
  }

  .main__gallery-images {
    justify-self: stretch;
    align-self: stretch;
  }

  .main__gallery-images_sunset {
    grid-area: sunset;
  }

  .main__gallery-images_ice-cream {
    grid-area: ice-cream;
  }
  
  .main__gallery-images_tape {
    grid-area: tape;
  }

  .main__gallery-images_books {
    grid-area: books;
  }

  .main__gallery-images_street {
    grid-area: street;
  }

  .footer {
    margin-block-start: 60px;
    padding-inline-start: 20px;
  }
  
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    position: relative;
  }
}

@media (width >= 1024px) {
  /* .header {
    display: grid;
    grid-template-rows: 0 298px 135px 291px 0;
    align-items: center;
  } */

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
    padding-inline-start: 20px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 11px;
  }

  .header__title-paragraph {
    min-inline-size: 491px;
  }
  
  .main {
    margin-block-start: 61px;
    display: grid;
    gap: 80px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
  }

  .main_title-section {
    min-inline-size: 314.96px;
  }

  .section__focus {
    grid-template-columns: 315px 1fr;
  }

  .section__attention .main__content-section {
    grid-template-columns: repeat(3, 1fr);
  }

  .section__concentration {
    grid-template-columns: 315px 1fr;
  }

  .footer {
    margin-block-start: 60px;
  }
}